.login-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     background-color: #f2f2f2;
   }
   
   .welcome-message {
     font-size: 36px;
     color: #333;
     text-align: center;
     margin-bottom: 10px;
   }
   
   .sub-message {
     font-size: 18px;
     color: #555;
     text-align: center;
     margin-bottom: 30px;
   }
   
   form {
     width: 300px;
     background-color: #fff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   }
   
   .form-group {
     margin-bottom: 20px;
   }
   
   label {
     display: block;
     font-size: 16px;
     font-weight: bold;
     color: #333;
     margin-bottom: 5px;
   }
   
   input {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 3px;
     font-size: 16px;
   }
   
   button {
     width: 100%;
     padding: 10px;
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 3px;
     cursor: pointer;
     font-size: 16px;
     transition: background-color 0.3s ease;
   }
   
   button:hover {
     background-color: #0056b3;
   }
   
   .additional-options {
     text-align: center;
     margin-top: 20px;
   }
   
   .forgot-password,
   .sign-up {
     font-size: 14px;
     color: #555;
     cursor: pointer;
     margin-bottom: 10px;
     transition: color 0.3s ease;
   }
   
   .forgot-password:hover,
   .sign-up:hover {
     color: #007bff;
     text-decoration: underline;
   }
   